.form-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px; 
    width: 50%;
  }
  
  .form-label {
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 5px; 
    font-family: 'Jost', sans-serif;
  }
  
  .form-input {
    border: none; 
    border-bottom: 2px solid #007bff;
    outline: none;
    background-color: transparent;
    padding: 10px;
    font-size: 16px;
    transition: border-bottom 0.5s;
    width: 100%; 
  }
  
  .form-input::placeholder {
    color: #b9c5d1;
  }
  
  .form-input:focus {
    border-bottom: 2px solid #f6f9fd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  