.navbar-after-components {
  display: flex;
}
.sidebar-after {
  background-color: #202434;
  width: 100px;
  height: 100vh;
}

.sidebar-links {
  display: flex;
  flex-direction: column;
  padding: 40px;
  margin-top: 70px;
  gap: 100px;
  align-items: center;
}
.icon {
  font-size: 25px;
}
.nav-link {
  color: rgb(255, 229, 142);
  cursor: pointer;
  position: relative;
  transition: color 0.4s;
}

.nav-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: transparent;
  transform: scaleX(0);
  transition: transform 0.4s, background-color 0.4s;
}

.nav-link:hover {
  color: #b1bdea;
}

.nav-link:hover::before {
  transform: scaleX(1);
  background-color: white;
}

.sidebar-after p {
  color: white;
  font-size: 28px;
  font-family: "Bebas Neue", sans-serif;
  padding: 30px;

}

.navbar-other {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home-after-container {
}
.home-after-components {
}
